body {
    margin: 0;
    padding: 0;
    font-family: 'Bungee Spice', sans-serif;
    background-image: url('giphy.gif');
    background-repeat: no-repeat;
    background-size: cover; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}

/* Add more styles based on your creativity and design preferences */